PORT=8080
JWT_SECRET=your_jwt_secret

DATABASE_DSN=user=postgres password=some_password dbname=some_db host=localhost port=5432 sslmode=disable
DATABASE_DRIVER=postgres
DATABASE_MIGRATE_URL=postgres://postgres:some_password@localhost:5432/some_db?sslmode=disable

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=some_password
REDIS_DB=some_db
REDIS_PROTOCOL=2
CONNECT_CODE_TTL=60

UJIN_TOKEN=some_token