PORT=8080
JWT_SECRET=your_jwt_secret_key

DATABASE_DSN=user=postgres password=yourpassword dbname=yourdb host=localhost sslmode=disable
DATABASE_DRIVER=postgres
DATABASE_MIGRATE_URL=postgres://user:yourpassword@localhost:5432/yourdb?sslmode=disable
